#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(90deg, hsla(217, 62%, 57%, 1) 52%, hsla(225, 83%, 44%, 1) 100%);
  // background-image: url(../src/assets/homeImage1.jpg);
  // width: 100%;
  // height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');