.main-box {
    display: flex;
    flex-direction: column;
    background: url(../assets/add-post-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3rem;
    width: 100%;
    height: 100%;


    // background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    .title-icon-box {
        display: flex;
        margin: auto;
        align-items: center;
        padding: 2px;
    }

    .add-travel-text {
        font-weight: bold;
        font-size: 40px;
        margin-top: 2rem;
        font-family: "dancing script";
    }

    .travel-icon {
        font-size: 40px;
        margin-top: 2rem;
        padding-left: 3px;
        color: lightcoral
    }

    .inputs-name-box {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100vh;
        margin: auto;
        padding: 3px;


    }

    .title-date-box {
        width: 100%;
        display: flex;
        justify-content: space-between;


    }

    .title-box {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 2%;
        padding-left: 0;
    }

 

    .date-box {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 2%;
        padding-right: 0;
    }


    .form-labels {
        font-family: "quicksand";

    }

    .post-button {
        background-color: rgb(180, 66, 66);
        color: white;
        width: 50%;
        margin: auto;
        margin-top: 1.5rem;
        border-radius: 15px;
    }

    .post-button:hover {

        background-color: rgb(180, 66, 66);
    }

    .input-text-fields {
        border: 1px solid black;
        border-radius: 5px;
    }



}

#form-labels1 {
    font: 900;
}

#form-labels2 {
    font: 900;
}

#form-labels3 {
    font: 900;
}

#form-labels4 {
    font: 900;
}

#form-labels5 {
    font: 900;
}