#main-card-box {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0rem;
    // width: 400px;
    max-width: 400px;
    height: 500px;

    box-shadow: 5px 5px 10px rgb(252, 118, 118);
    background: linear-gradient(90deg, hsla(0, 3%, 83%, 1) 12%, hsla(321, 32%, 91%, 1) 64%, hsla(190, 17%, 93%, 1) 97%);
    opacity: 0.9;

}

.diaryCardHeader {
    margin: 2px auto;

    .avatar {
        background-color: red;
    }

}

#main-card-info-content {
    box-sizing: border-box;
    height: 100px;

    .post-description {
        overflow-y: auto;
        height: 130px;
    }

    .line {
        margin: 1px auto;
    }

}



.card-info-header {
    h3 {
        font-size: 20px;
    }
}

.cardActions-buttons {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin-bottom: 0px;
    padding: 0px;


    .edit-icon {
        display: flex;
        margin-left: auto;
    }
}

#alert {
    background-color: green;
    color: white;
    margin-top: 3rem;

}

@media screen and (max-width: 992px) {
    #main-card-box {
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 0rem;
        // width: 400px;
        max-width: 400px;
        box-shadow: 5px 5px 10px rgb(252, 118, 118);
        background: linear-gradient(90deg, hsla(0, 3%, 83%, 1) 12%, hsla(321, 32%, 91%, 1) 64%, hsla(190, 17%, 93%, 1) 97%);
        opacity: 0.9;
    }

    #main-card-info-content {
        box-sizing: border-box;
        height: 50px;

        .post-description {
            overflow-y: auto;
            height: 100px;
        }

        .line {
            margin: 1px auto;
        }

    }
}

@media screen and (max-width: 600px) {
    #main-card-box {
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 0rem;
        max-width: 400px;
        box-shadow: 5px 5px 10px rgb(252, 118, 118);
        background: linear-gradient(90deg, hsla(0, 3%, 83%, 1) 12%, hsla(321, 32%, 91%, 1) 64%, hsla(190, 17%, 93%, 1) 97%);
        opacity: 0.9;
    }

    #main-card-info-content {
        box-sizing: border-box;
        height: 25px;

        .post-description {
            overflow-y: auto;
            height: 100px;
        }

        .line {
            margin: 1px auto;
        }

    }
}