.main-diaryUpdate-box {
    display: flex;
    flex-direction: column;
    background: url(../assets/add-post-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    // margin-top: 3rem;
    width: 100%;
    height: 100vh;

    .text-icon-box {
        display: flex;
        margin: 2rem auto;
        align-items: center;
        padding: 2px;

    }
    .update-travel-text {
        font-weight: bold;
        font-size: 40px;
        margin-top: 2rem;
        font-family: "dancing script"
    }
    .travel-icon {
        font-size: 40px;
        margin-top: 2rem;
        padding-left: 3px;
        color: lightcoral
    }

    .inputs-box {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 70vh;
        padding-left: 0;
        margin: auto;
        padding: 3px;
        background: linear-gradient(90deg, hsla(0, 3%, 83%, 1) 12%, hsla(321, 32%, 91%, 1) 64%, hsla(190, 17%, 93%, 1) 97%);
        border-radius: 15px;
    }
    .form-labels {
        font-family: "quicksand";
        font-weight: bold;
    }
    .inputs-text-fields {
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
    }
    .update-button {
        background-color: rgb(180, 66, 66);
        color: white;
        width: 50%;
        margin: auto;
        margin-top: 1.5rem;
        border-radius: 15px;
    }
    .update-button:hover {
        background-color: rgb(180, 66, 66);
    }

}