$main-color: rgb(39, 98, 209);

.form-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    // border: 2px solid black;
    box-shadow: 5px 5px 10px rgb(252, 118, 118);
    border-radius: 15px;
    padding: 5px;
    height: 70vh;
    width: 30%;
    margin: 6rem auto;
    background: linear-gradient(90deg, hsla(0, 3%, 83%, 1) 12%, hsla(321, 32%, 91%, 1) 64%, hsla(190, 17%, 93%, 1) 97%);

#input-text-field1 {
    height: 0.4rem;
}
#input-text-field2 {
    height: 0.4rem;
}

#input-text-field3 {
    height: 0.4rem;
}

    .submit-button {
        color: white;
        margin-top: 12px;
        background-color: $main-color;
    }

    .submit-button:hover {
        background-color: $main-color;
    }

    .signup-login {
        color: white;
        background: linear-gradient(90deg, hsla(217, 62%, 57%, 1) 52%, hsla(225, 83%, 44%, 1) 100%);
        margin-bottom: 40px;

        
    }

    .form-labels {
        display: flex;
        margin-top: 10px;
    }

}
