$main-color: rgb(39, 98, 209);

#main-login-box {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // margin-top: 1rem;
    
    width: 100%;
    height: 100vh;
    background: url(../assets/new-home-bg.jpg);
    // background: url(../assets/new-login-bg.jpg);
    // margin: auto;
    margin-top: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    .login-form {
        display: flex;
        
       

    }

    .form-box {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: center;
        // border: 2px solid black;
        border: 1px solid black;
        box-shadow: 5px 5px 10px rgb(252, 118, 118);
        border-radius: 15px;
        padding: 5px;
        height: 70vh;
        width: 30%;
        margin: auto;
        margin-top: 6rem;

        .signup-login {
            background: linear-gradient(90deg, hsla(217, 62%, 57%, 1) 52%, hsla(225, 83%, 44%, 1) 100%);
            border-radius: 15px;
        }
        // background: linear-gradient(90deg, hsla(0, 3%, 83%, 1) 12%, hsla(321, 32%, 91%, 1) 64%, hsla(190, 17%, 93%, 1) 97%);

        #input-text-field1 {
            height: 0.4rem;
        }

        #input-text-field2 {
            height: 0.4rem;
        }

        #input-text-field3 {
            height: 0.4rem;
        }

        .submit-button {
            color: white;
            margin-top: 12px;
            background: linear-gradient(90deg, hsla(217, 62%, 57%, 1) 52%, hsla(225, 83%, 44%, 1) 100%);
            border-radius: 15px;
            // background-color: $main-color;
        }

        .submit-button:hover {
            background: linear-gradient(90deg, hsla(217, 62%, 57%, 1) 52%, hsla(225, 83%, 44%, 1) 100%);
            // background-color: $main-color;
        }

        .signup-login {
            color: white;
            background: linear-gradient(90deg, hsla(217, 62%, 57%, 1) 52%, hsla(225, 83%, 44%, 1) 100%);
            margin-bottom: 40px;
            // border-radius: 15px;


        }

        .form-labels {
            display: flex;
            margin-top: 10px;
        }

    }
    .go-to-button {
        margin: auto 0;
        background: linear-gradient(90deg, hsla(217, 62%, 57%, 1) 52%, hsla(225, 83%, 44%, 1) 100%);
        color: white;
        border-radius: 15px;
    }
}