.profile-info-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin-top: 30px;
}

.diary-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin-top: 30px;  
}